# Gradle

.gradle/
build/
**/build/
out/
classes/

# Eclipse

*.launch

# Idea

.idea/
*.iml
*.ipr
*.iws

# Vscode

.settings/
.vscode/
bin/
.classpath
.project

# MacOS

*.DS_Store

# Java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Stonecutter

versions/*/build
common/versions/
fabric/versions/
neoforge/versions/